%nav.navbar.bg-body-tertiary
  .container-fluid
    %a.navbar-brand Navbar
    %form.d-flex{ role: "search" }
      %input.form-control.me-2{ type: "search", placeholder: "Search", aria_label: "Search" }
      %button.btn.btn-outline-success{ type: "submit" } Search

= link_to courses_path, class: 'btn btn-success' do 
  .fa.fa-book
  course